@font-face {
	src: url("../fonts/Montserrat-Medium.ttf");
	font-family: Mont;
}
html {
	height: 241px;
	background-color: White;
	border-style: solid;
	border-color: Silver;
	border-width: 2px;
	transition-duration: 0.4s;
}
.topbar {
	width: 400px;
	height: 21px;
	background-color: Silver;
	position: absolute;
	left: 0px;
	top: 0px;
	color: white;
	text-align: left;
	transition-duration: 0.4s;
}
button {
	border-style: solid;
	border-color: Silver;
	background-color: Silver;
	font-family: Mont;
	outline-color: Silver;
	color: Black;
	border-radius: 4%;
	transition-duration: 0.4s;
	height: 22px;
	
}
.hover:hover {
	background-color: Silver;
	border-color: Silver;
	color: White;
	display: block;
	height: 22px;
}
p {
	font-family: Mont;
	color: Black;
}
input[type=text] {
	font-size: 12px;
	font-family: Mont;
	width: 118px;
	height: 18px;
	position: absolute;
	left: 100px;
	background-color: #f6f6f6;
	border-radius: 4%;
	color: Black;
	border: 1px solid DimGray;
	outline: none;
}
input[type=color] {
	border-color: 1px solid Gainsboro;
	width: 164px;
	height: 30px;
	position: absolute;
	top: 150px;
	left: 210px;
	border-radius: 4%;
	background-color: Gainsboro;
	transition-duration: 0.4s;
	border: 1px solid DimGray;
	outline: none;
}
.checkbox-label input {
	opacity: 0;
}
.checkbox-label .custom-check {
	position: absolute;
	left: 210px;
	background-color: Silver;
	border: .5px solid Silver;
	display: block;
	width: 11px;
	height: 11px;
	border-radius: 15%;
}
.checkbox-label input:hover ~ .custom-check {
	background-color: White;
}
.checkbox-label input:checked ~ .custom-check {
	border: .5px solid Silver;
	background-color: Silver;
	-webkit-transform: rotate(0deg) scale(1);
	-ms-transform: rotate(0deg) scale(1);
	transform: rotate(0deg) scale(1);
	opacity: 1;
	background-image: url("../images/check.png");
	background-size: cover;
	border-radius: 15%;
}
#session_label {
	position: fixed;
	top: 22px;
	left: 55px;
	font-size: 13px;
}
#sessions_bar {
	width: 180px;
}
#setup_bar {
	width: 186px;
}
.title {
	position: absolute;
	top: 22px;
	left: 210px;
	font-size: 13px;
	padding: 0px;
}	
#name_input {
	position: absolute;
	top: 55px;
	left: 210px;
}
#time_input {
	position: absolute;
	top: 105px;
	left: 210px;
}
#site_input {
	position: absolute;
	top: 345px;
	left: 210px;
}
.add_button {
	position: absolute;
	left: 340px;
	width: 40px;
	height: 22px;
	transition-duration: 0.4s;
	padding: 0px;
	margin: 0 auto;
}
.add_button:hover {
	background-color: #cfcfcf;
	border-color: #cfcfcf;
	color: White;
	display: block;
	height: 22px;
	padding: 0px;
	margin: 0 auto;
}
#start_stop_button {
	position: absolute;
	top: 198px;
	left: 210px;
	width: 170px;
	height: 30px;
	font-size: 16px;
	transition-duration: 0.4s;
}
#start_stop_text {
	position: fixed; 
	top: 187px; 
	left: 210px;
	padding: 0px;
	transition-duration: 0.4s;
	height: 22px;
	width: 170px;
	border-radius: 4%;
}
sesh-top {
	position: absolute;
	top: -2px;
}
#divide {
	border: 1.5px solid; 
	border-radius: 10%;
	position: fixed; 
	top: 50px;
	left: 19px;
	padding-left: 166px;
	border-color: Gainsboro;
}
#css_button {
	background-image: url("../images/moon.png");
	border-radius: 25%;
}

/*SCROLLBAR*/

/*width*/
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: Gainsboro;
}

/* Handle */
::-webkit-scrollbar-thumb {
  	border: 1.5px solid Silver;
	background: Silver; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: DarkGray; 
  border: 1.5px solid DarkGray;
}

::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
