@font-face {
	src: url("../fonts/orkney-regular.otf");
	font-family: Orkney;
}
* {
	font-family: Orkney;
}
html {
	height: 238px;
	background-color: #212b31;
	border-style: solid;
	border-color: #40525e;
	border-width: 2px;
	transition-duration: 0.4s;
}
.topbar {
	font-size: 10px;
	width: 400px;
	height: 21px;
	background-color: #40525e;
	position: absolute;
	left: 0px;
	top: 0px;
	color: White;
	text-align: left;
	transition-duration: 0.4s;
}
button {
	border-style: solid;
	border-color: #40525e;
	background-color: #40525e;
	font-family: Orkney;
	outline-color: #40525e;
	color: #8ca7b8;
	border-radius: 8px;
	transition-duration: 0.4s;
	height: 22px;
	text-align: center;
}
.hover:hover {
	background-color: #587181;
	border-color: #587181;
	display: block;
	height: 22px;
}
.hover p, .hover{
	transition-duration:0.4s;
	color: #8ca7b8;
}
.hover p:hover {
	color:#8ca7b8;
}
p {
	color: Gainsboro;
}
input[type=text] {
	font-size: 10px;
	font-family: Orkney;
	width: 118px;
	height: 18px;
	position: absolute;
	left: 100px;
	background-color: #40525e;
	border-radius: 6px;
	color: Gainsboro;
	border: 1px solid #8ca7b8;
	outline: none;
}
input[type=color] {
	border: 1px solid #8ca7b8;
	width: 114px;
	height: 27px;
	position: absolute;
	top: 154px;
	left: 210px;
	outline:none;
	border-radius: 8px;
	background-color: #40525e;
}
#session_label {
	position: fixed;
	top: 22px;
	font-size: 13px;
	text-align:left;
	padding-left:7px;
}
#sessions_bar {
	width:180px;
}
#setup_bar {
	width: 135px;
}
.title {
	position: absolute;
	top: 22px;
	left: 210px;
	font-size: 13px;
	padding: 0px;
}	
#name_input {
	position: absolute;
	top: 55px;
	left: 210px;
}
#time_input {
	position: absolute;
	top: 105px;
	left: 210px;
}
.add_button {
	position: absolute;
	left: 210px;
	width: 120px;
	height: 30px;
	transition-duration: 0.4s;
	padding: 0px;
	font-size:16px;
	outline:none;
	text-align:center;
	
}
.add_button:hover {
	background-color: #587181;
	border-color: #587181;
	color: #8ca7b8;
	display: block;
	height: 30px;
	padding: 0px;
	outline:none;
	margin: 0 auto;
}
#start_stop_button {
	position: absolute;
	top: 198px;
	left: 15px;
	width: 174px;
	outline:none;
	height: 30px;
	font-size: 16px;
	transition-duration: 0.4s;
}
#start_stop_text {
	position: fixed; 
	top: 188px; 
	left: 15px;
	padding: 0px;
	transition-duration: 0.4s;
	height: 22px;
	width: 170px;
	border-radius: 4%;
	color: #8ca7b8;
	outline:none;
	background:none;
}
sesh-top {
	position: absolute;
	top: -2px;
}
#divide {
	border: 1.5px solid; 
	border-radius: 10px;
	position: fixed; 
	top: 50px; 
	left: 19px; 
	padding-left: 166px;
	border-color: #40525e;
}
#css_button {

	border-radius: 25%;
	transition-duration:0.4s;
}
#moon{
	background-image: url("../images/sun.png");	
	transition-duration:0.4s;
}

#quest{
	background-image: url("../images/questionmark.png");	
	transition-duration:0.4s;
}

#x{
	background-image: url("../images/x_good.png");	
	transition-duration:0.4s;
}
.close_button{
	background-image: url("../images/x_dark.png");
	background-size:10px;
	background-repeat:no-repeat;
	background-position:center;
}
/*SCROLLBAR*/

/*width*/
::-webkit-scrollbar {
  width: 13px;
}

/*Track*/
::-webkit-scrollbar-track {
	background-color: #293740;
	border-radius:4px;
}

/*Handle*/
::-webkit-scrollbar-thumb {
  	border: 1.5px solid #40525e;
	background: #40525e;
	border-radius:4px;
}

/*Handle on hover*/
::-webkit-scrollbar-thumb:hover {
  background: #8ca7b8; 
  border: 1.5px solid #8ca7b8;
}

::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
