@font-face {
	src: url("../fonts/Windows-Regular.ttf");
	font-family: WinReg;
}
html,td {border-style: outset;}
html{
	height:252px;
	background-color:#D4D0C8;
	}
.topbar{
	width:395.5px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
	color:white;
	text-align:left;
	background-image: url("../images/bluebar.png");
	background-size: cover;
}

button{
	border-style: outset;
	background-color: #D4D0C8;
	font-family: WinReg;
	outline-color:black;
	transition-duration:0.4s;
}
button:hover{
		border-style:inset;
}
p{font-family: WinReg;}
input[type=text]{
	font-family: WinReg;
	border: 2.5px inset;
	width:118px;
	position:absolute;
	left:180px;
	outline:none;
	padding:0px;
	margin:0px;
}

.checkbox-label input{opacity: 0;}
.checkbox-label .custom-check {
	position: absolute;
	left:210px;
	background-color: #D4D0C8;
	border-style: inset;
	display: block;
	width: 11px;
	height: 11px;
}
.checkbox-label input:checked ~ .custom-check {
	background-image: url("../images/x.png");
	border-style: inset;
	-webkit-transform: rotate(0deg) scale(1);
	-ms-transform: rotate(0deg) scale(1);
	transform:rotate(0deg) scale(1);
	opacity:1;
}
input[type=color]{
	border-style: inset;
	border-width:1.5px;
	width:164px;
	height: 30px;
	position: absolute;
	top: 150px;
	left:210px;
}
#session_label{
	position: fixed;
	top:22px;
	left:55px;
	padding-left:10px;
	padding-right:10px;
	font-size: 13px;
	text-align:center;
}
#sessions_bar{
	width:180px;
}
#setup_bar{
	width:180px;
}

.title{
	position:absolute;
	top:22px;
	left:210px;
	font-size:13px;
	padding:0px;
}	
#name_input{
	position:absolute;
	top: 55px;
	left:210px;
}
#time_input{
	position:absolute;
	top:105px;
	left:210px;
}
#site_input{
	position:absolute;
	top:210px;
	left:210px;
}
.add_button{
	position: absolute;
	left:340px;
	width: 40px;
	height: 22px;
}
#buttontxt{
	position: relative;
	top: -15px;
	left: -1px;
	font-size: 14px;
}
#start_session_button{
	position: fixed;
	top:210px;
	left:22px;
	width: 85px;
}
#pause_session_button{
	position: fixed;
	top:210px;
	left:110px;
	width: 79px;
}
sesh-top{
	position:absolute;
	top:-2px;
}

#divide{
	border: 1.5px inset; 
	position:fixed; 
	top:50px; 
	left:19px; 
	padding-left:170px;
}
	
/*SCROLLBAR*/

/*width*/
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {

}

/* Handle */
::-webkit-scrollbar-thumb {
  	border-style:outset;
	border-width:1.5px;
	background: #D4D0C8; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bfbbb4; 
}

::-webkit-scrollbar-button{
	width:13px;
	height:13px;
	background-image: url('../images/arrow.png');
	background-size:cover;
	border-style:outset;
}